{% extends "index.html" %}

{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="mdl-grid typography--text-center">
    <header class="mdl-cell mdl-cell--12-col">
      <h1>Informe de Bajas</h1>
      
      <a class="btn btn-primary" href="/bajas/new" role="button">Agregar</a>
      
    </header>
  </div>
  <br>
   
  <table class="table table-hover"> 
    <thead> 
      <tr> 
        <th>#</th> 
        <th>Razon Social</th> 
        <th>Sucursal</th> 
        <th>Empresa Usuaria</th> 
        <th>Nombre</th> 
        <th>Apellido</th>
        <th>CUIL</th>
        <th>Fecha de Ingreso</th>
        <th>Fecha de Egreso</th>
        <th>Situación</th>  
      </tr> 
    </thead> 
    <tbody> 
      {% for baja in listbajas %}
        <tr> 
          <th scope="row"><a href="/bajas/view/{{baja.id}}">{{baja.id}}</a></th> 
          <td>{{baja.razonSocial}}</td> 
          <td>{{baja.sucursal}}</td> 
          <td>{{baja.usuaria}}</td> 
          <td>{{baja.nombre}}</td> 
          <td>{{baja.apellido}}</td> 
          <td>{{baja.cuit}}</td> 
          <td>{{baja.fechaIngreso}}</td> 
          <td>{{baja.fechaEgreso}}</td> 
          <td>{{baja.situacion}}</td> 
        </tr> 
      {% endfor %}
    </tbody> 
  </table>
<div class="col-md-12 col-sm-12 col-xs-12">
{% endblock %}
