{% extends "index.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-11 col-md-offset-4">
      <h2>Baja Seleccionada</h2>
    </div>
  </div>
  <br>
  <form class="form-horizontal" action="/bajas/new/" method = "POST">
    <div class="row">
  
      <!-- INICIO col-md-8 -->
      <div class="col-md-8 col-md-offset-1">
        <div class="form-group">
          <label for="razonsocial" class="col-sm-4 control-label">Razon Social</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="razonsocial" value="{{item.razonSocial}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="sucursal" class="col-sm-4 control-label">Sucursal</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="sucursal" value="{{item.sucursal}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="Usuaria" class="col-sm-4 control-label">Empresa Usuaria</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="usuaria" value="{{item.usuaria}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="nombre" class="col-sm-4 control-label">Nombre</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre" value="{{item.nombre}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="apellido" class="col-sm-4 control-label">Apellido</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="apellido" value="{{item.apellido}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="cuit" class="col-sm-4 control-label">CUIL</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="cuit" value="{{item.cuit}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="ingreso" class="col-sm-4 control-label">Fecha de Ingreso</label>
          <div class="col-sm-6">
            <input type="text" maxlength="50"  class="form-control" value="{{item.fechaIngreso}}" readonly />
          </div>
        </div>
        <div class="form-group">
          <label for="egreso" class="col-sm-4 control-label">Fecha de Egreso</label>
          <div class="col-sm-6">
            <input type="text" maxlength="50"  class="form-control" value="{{item.fechaEgreso}}" readonly />
          </div>
        </div>
        <div class="form-group">
          <label for="baja" class="col-sm-4 control-label">Fecha de Baja</label>
          <div class="col-sm-6">
            <input type="text" maxlength="50" class="form-control" value="{{item.fechaBaja}}" readonly/>
          </div>
        </div>
        <div class="form-group">
          <label for="remuneración" class="col-sm-4 control-label">Mejor Remuneración</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="remuneracion" value="{{item.mejorRemu}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="suspension" class="col-sm-4 control-label">Situación</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="situacion" value="{{item.situacion}}" readonly>
          </div>
        </div>
        {% if item.situacion == "Suspención de Tareas" %}
         <div class="form-group">
          <label for="desde" class="col-sm-4 control-label">Desde</label>
          <div class="col-sm-6">
            <input type="text" maxlength="50" class="form-control" value="{{item.suspensionDesde}}" readonly />
          </div>
        </div>
         <div class="form-group">
          <label for="hasta" class="col-sm-4 control-label">Hasta</label>
          <div class="col-sm-6">
            <input type="text" maxlength="50" class="form-control" value="{{item.suspensionHasta}}" readonly />
          </div>
        </div>
        {% endif %}
        <div class="form-group">
          <label for="comentarios" class="col-sm-4 control-label">Comentarios</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="5" name="comentarios" readonly>{{item.comentarios}}</textarea>
          </div>
        </div>

               
      </div>
      <!-- FIN col-md-8 -->

    </div>
  </form>
  


{% endblock %}